<ion-header>
  <ion-toolbar>
    <ion-title>home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>
<ion-footer no-border no-padding>
    <ion-toolbar class='myfooter'>
      <ion-grid no-border no-padding>
        <ion-row no-border no-padding>
          <ion-col col-6 no-border no-padding>
            <ion-button expand='full' size='large' color='danger'>
              Ionic
            </ion-button>
          </ion-col>
          <ion-col col-6 no-border no-padding>
            <ion-button expand='full' size='large' color='danger'>
              Flutter
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-toolbar>
  </ion-footer>
